body {
    background-color: aliceblue;
    
}
a {
    color: black;
}
h2 {
    color: black;
}
h3 {
    color: blueviolet;
}
h1 {
    color: black;
}
.header {
    text-align: center;
}
.footer {
    background-color: hotpink;
    text-align: center;

}
